{% extends 'base_hydrogen.html' %}
{% load staticfiles %}
    {% block title %}
    <title>关於 Vtoo.pro 网站</title>
    {% endblock %}
	{% block main %}
	<div id="fh5co-main">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Personal Bio</h2>
					<div class="fh5co-spacer fh5co-spacer-sm"></div>
					<figure class="img-responsive-center">
					<img src="https://ae01.alicdn.com/kf/HTB1_NzHaLfsK1RjSszbq6AqBXXaH.jpg" alt="Developer Image" class="img-rounded img-responsive" width="100%" height="100%"></figure>

					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
				
					<p> The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. </p>

					<p><a href="{% url 'hydrogen:profile' %}" data-hover="profile">click here to my personal profile</a></p>
					
					
				</div>
				
        		
        	</div>
       </div>
	</div>
    {% endblock main %}
	