{% extends 'base_hydrogen.html' %}
{% load staticfiles %}
    {% block title %}
    <title>关於 Vtoo.pro 网站</title>
    {% endblock %}
	{% block main %}
	<div id="fh5co-main">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Personal Bio</h2>
					<div class="fh5co-spacer fh5co-spacer-sm"></div>
					<figure class="img-responsive-center">
					<img src="https://ae01.alicdn.com/kf/HTB1_NzHaLfsK1RjSszbq6AqBXXaH.jpg" alt="Developer Image" class="img-rounded img-responsive" width="100%" height="100%"></figure>

					<p> Welcome to my blog first. Although there is nothing particularly valuable, this does not prevent me from loving it very much, and I hope you too. I like to design things myself, especially things that are so personal. It happens that my major is close to computer science, so I built this website by myself in the summer of 2018. In addition to updating the content, I have never updated the code. But recently I am planning to restructure my blog, and hoping it comming soon. </p>
				
					<p> I like photography and recording my life, so I put a lot of my photos on the homepage. I want to be a programmer, but I still need to hone my skills. I put some technical articles on my blog page, because few people read them, so I use it as my own notes more often. </p>

					<p> The picture above is my first marathon. I like this picture, so I put it here. Life is like a marathon, we can enjoy the beautiful scenery on the road, just like watching hot girls while running. But we need to run constantly, try not to stop ourselves, once we stop, it will be very tiring to start again, and you may lose the girl you admire. When I finish the marathon and take this picture, I am very proud of myself. As for me, I am a good person. </p>

					<p><a href="{% url 'hydrogen:profile' %}" data-hover="profile">click here to my personal profile</a></p>
					
					
				</div>
				
        		
        	</div>
       </div>
	</div>
    {% endblock main %}
	