{% extends 'base_hydrogen.html' %}

	{% block title %}
    <title>好耐冇见 | Contact</title>
    <script type="text/javascript">
	function display_alert()
	  {
	  alert("～尝试发送邮件中｡◕‿◕｡！")
	  }
	</script>
    {% endblock %}
	{% block main %}
	<div id="fh5co-main">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Contact</h2>
					<div class="fh5co-spacer fh5co-spacer-sm"></div>
					<form action="{% url 'contact:contact' %}" method="post" class="contact-form" >
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input id="{{form.first_name.id_for_input}}" type="text" class="form-control" placeholder="First Name" name="first_name">
									{{ form.first_name.errors }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input id="{{form.last_name.id_for_input}}" type="text" class="form-control" placeholder="Last Name" name="last_name">
									{{ form.last_name.errors }}
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input id="{{form.email.id_for_input}}" type="text" class="form-control" placeholder="Email Address" name="email">
									{{ form.email.errors }}
								</div>
								<div class="form-group">
									<textarea name="text" id="{{ form.text.id_for_label }}" cols="30" class="form-control" rows="10"></textarea>
									{{ form.text.errors }}
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="Send Message" onclick="display_alert()">
								</div>
							</div>

						</div>
					</form>
					
				</div>
        		
        	</div>
       </div>
	</div>
    {% endblock main %}
	