{% extends 'base_hydrogen.html' %}
{% load staticfiles %}
	{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

	<div id="fh5co-main">
		<div class="container">
			<div class="row">
        <div id="fh5co-board" data-columns>
            {% for image in image_list %}
            <div class="item">
                <div class="animate-box">
                    <a href={{ image.href }} title={{ image.title }} class="image-popup fh5co-board-img"><img src={{ image.href }} alt="Free HTML5 Bootstrap template"></a>
                </div>
                <div class="fh5co-desc">{{ image.title }}</div>
            </div>
            {% empty %}
                <div class="no-image">暂时还没有发布的图像！</div>
            {% endfor %}
        </div>
        </div>
       </div>
	</div>
    <!-- 简单分页效果
    <div class="pagination-simple">
        <a href="#">上一页</a>
        <span class="current">第 6 页 / 共 11 页</span>
        <a href="#">下一页</a>
    </div>
    -->
    {% if is_paginated %}
    <div class="digg">
      {% if first %}
        <a href="?page=1">1</a>
      {% endif %}
      {% if left %}
        {% if left_has_more %}
            <span class=disable >...</span>
        {% endif %}
        {% for i in left %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
      {% endif %}
      <a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
      {% if right %}
        {% for i in right %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
        {% if right_has_more %}
            <span class=disable>...</span>
        {% endif %}
      {% endif %}
      {% if last %}
        <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
      {% endif %}
    </div>
    {% endif %}

	{% endblock main %}
