{% load staticfiles %}
{% load blog_tags %}

<!DOCTYPE html>
<html>
<head>
    {% block title %}
    {% endblock %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{% static 'hydrogen/images/baiyuechu.jpeg' %}">
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="付威福的个人网站和博客页面" />
    <meta name="keywords" content="付威福 fuweifu fuweifu-vtoo" />
    <meta name="author" content="付威福" />
    <meta name="Robots" contect= "all">  <!--文件将被检索，且页面上的链接可以被查询-->

  <!-- 
    //////////////////////////////////////////////////////

    Email:          1360004212@qq.com

    //////////////////////////////////////////////////////
     -->
    
    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    
    <!--highlighted -->
     <style>
        span.highlighted {
            color: red;
        }
    </style>

    <!--分页的三个css样式-->
    <link rel="stylesheet" href="{% static 'blog/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/htmleaf-demo.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pages.css' %}">

    <!--音乐播放器的一个css-->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/css.css' %}">
    <style>
        #main {
            background-image: url(http://pdcknxeeg.bkt.clouddn.com/WechatIMG2.jpeg);
            background-position: 0px 0px;
            background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            cursor: url(http://pdcknxeeg.bkt.clouddn.com/1.cur),auto;
            background-color:#EADAE4;     
        }
    </style>
</head>

<body id="main" >
<div id="huaban" style="z-index:1;position: absolute;">
<div class="container">
    <header id="site-header" style="filter:alpha(opacity:30); opacity:0.7;border-radius: 10px 10px 10px 10px;">         <!--!!!!!!!!!!!!!!!!-->
        <div class="row" style="z-index: 20;position: inherit;">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1 ><a href="{% url 'blog:index' %}" ><b>Vtoo</b></a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'hydrogen:hydrogen' %}" data-hover="home">home</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="blog">blog</a></li>
                            <li class="cl-effect-11"><a href="{% url 'todolist:todolist' %}" data-hover="TodoList">TodoList</a></li>
                            <li class="cl-effect-11"><a href="{% url 'hydrogen:about' %}" data-hover="about">about</a></li>
                            <li class="cl-effect-11"><a href="{% url 'hydrogen:contact' %}" data-hover="contact">contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                            <input type="search" name="q" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>


<div class="content-body" >
    <div class="container" >
        <div class="row" >
            <main class="col-md-8" >
                {% block main %}
                {% endblock main %}
            </main>
            <aside class="col-md-4" >
                {% block toc %}
                {% endblock toc %}
                <div class="widget widget-recent-posts" style="filter:alpha(opacity:30); opacity:0.7;z-index:2;position: inherit;">
                    <h3 class="widget-title">最新文章</h3>
                    {% get_recent_posts as recent_post_list %}
                    <ul>
                        {% for post in recent_post_list %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>
                        {% empty %}
                        暂无文章！
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives" style="filter:alpha(opacity:30); opacity:0.7;z-index:2;position: inherit;">
                    <h3 class="widget-title">归档</h3>
                    {% archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                        <li>
                            <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                        </li>
                        {% empty %}
                        暂无归档！
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-tag-cloud" style="filter:alpha(opacity:30); opacity:0.7;z-index:2;position: inherit;">
                  <h3 class="widget-title">标签云</h3>
                  {% get_tags as tag_list %}
                  <ul>
                    {% for tag in tag_list %}
                    <li>
                      <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                    </li>
                    {% empty %}
                    暂无标签！
                    {% endfor %}
                  </ul>
                </div>

                <div class="player" style="filter:alpha(opacity:30); opacity:0.7;z-index:2;position:inherit;margin-top:100px;margin-bottom: 0px">
                  <div class="player__bar">
                    <div class="player__album">
                      <div class="player__albumImg active-song" 
                                data-author="近藤晃央"
                                data-song="フルール"
                                data data-src="http://pduczd5jr.bkt.clouddn.com/%E8%BF%91%E8%97%A4%E6%99%83%E5%A4%AE%20-%20%E3%83%95%E3%83%AB%E3%83%BC%E3%83%AB.mp3" style="background-image: url(http://pd3aouuev.bkt.clouddn.com/WechatIMG7_822.jpeg)"> </div>
                      <div class="player__albumImg" 
                                data-author="晚安君"
                                data-song="未闻花名"
                                data data-src="http://pdcknxeeg.bkt.clouddn.com/%E6%99%9A%E5%AE%89%E5%90%9B%20-%20%E6%9C%AA%E9%97%BB%E8%8A%B1%E5%90%8D%EF%BC%88%E4%B8%AD%E6%96%87%E7%89%88%EF%BC%89.mp3" style="background-image: url(http://pd3aouuev.bkt.clouddn.com/WechatIMG9_22.jpeg)"> </div>
                    </div>
                    <div class="player__controls">
                      <div class="player__prev">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                          <path d="M26.695 34.434v31.132L54.5 49.998z"/>
                          <path d="M24.07 34.434v31.132c0 2.018 2.222 3.234 3.95 2.267l27.804-15.568c1.706-.955 1.707-3.578 0-4.533L28.02 32.168c-2.957-1.655-5.604 2.88-2.649 4.533l27.805 15.564v-4.533L25.371 63.3l3.95 2.267V34.435c-.001-3.387-5.251-3.387-5.251-.001z"/>
                          <g>
                            <path d="M55.5 34.434v31.132l27.805-15.568z"/>
                            <path d="M52.875 34.434v31.132c0 2.018 2.222 3.234 3.949 2.267 9.27-5.189 18.537-10.379 27.805-15.568 1.705-.955 1.705-3.578 0-4.533L56.824 32.168c-2.957-1.655-5.604 2.88-2.648 4.533l27.803 15.564v-4.533L54.176 63.3l3.949 2.267V34.435c0-3.387-5.25-3.387-5.25-.001z"/>
                          </g>
                        </svg>
                      </div>
                      <div class="player__play">
                        <svg class="icon play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                          <path d="M51.109 30.335l-36-24A2 2 0 0 0 12 8v48a2.003 2.003 0 0 0 2 2c.388 0 .775-.113 1.109-.336l36-24a2 2 0 0 0 0-3.329z"/>
                        </svg>
                        <svg class="icon pause" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                          <path d="M22.537 8.046h17.791c1.104 0 2.003.898 2.003 1.993v79.912a2.005 2.005 0 0 1-2.003 2.003h-17.79a2.005 2.005 0 0 1-2.003-2.003V10.04c0-1.095.898-1.993 2.002-1.993zM59.672 8.046h17.8c1.095 0 1.993.898 1.993 1.993v79.912a2.003 2.003 0 0 1-1.993 2.003h-17.8a1.997 1.997 0 0 1-1.993-2.003V10.04c0-1.095.889-1.993 1.993-1.993z"/>
                        </svg>
                      </div>
                      <div class="player__next">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                          <path d="M26.695 34.434v31.132L54.5 49.998z"/>
                          <path d="M24.07 34.434v31.132c0 2.018 2.222 3.234 3.95 2.267l27.804-15.568c1.706-.955 1.707-3.578 0-4.533L28.02 32.168c-2.957-1.655-5.604 2.88-2.649 4.533l27.805 15.564v-4.533L25.371 63.3l3.95 2.267V34.435c-.001-3.387-5.251-3.387-5.251-.001z"/>
                          <g>
                            <path d="M55.5 34.434v31.132l27.805-15.568z"/>
                            <path d="M52.875 34.434v31.132c0 2.018 2.222 3.234 3.949 2.267 9.27-5.189 18.537-10.379 27.805-15.568 1.705-.955 1.705-3.578 0-4.533L56.824 32.168c-2.957-1.655-5.604 2.88-2.648 4.533l27.803 15.564v-4.533L54.176 63.3l3.949 2.267V34.435c0-3.387-5.25-3.387-5.25-.001z"/>
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <!--
                  <div class="player__timeline">
                    <p class="player__author"></p>
                    <p class="player__song"></p>
                    <div class="player__timelineBar">
                      <div id="playhead"></div>
                    </div>
                  </div><!-->
                </div>
                <div style="background-color: #fff;padding: 2.5em;text-align: center;filter:alpha(opacity:30); opacity:0.7;z-index:2;position:inherit;margin-top:0px;margin-bottom: 30px;border-radius: 10px 10px 10px 10px;">
                        <header style="display: inline-block;border-bottom: solid 2px;border-top: solid 2px;margin: 0 0 2em 0;padding: 3px 0 3px 0;">
                            <h2 style="border-bottom: solid 2px;border-top: solid 2px;font-size: 3.2em;font-weight: 900;letter-spacing: 0.2em;margin: 0;padding-left: 0.05em;position: relative;text-transform: uppercase;padding:18px 0;">十年之约</h2>
                        </header>
                        <p style="letter-spacing: 0.1em;margin: 0;text-transform: uppercase;">  好耐冇见于2018年08月23日加入十年之约博客活动。承诺博客十年不关闭或更久，并保持更新和活力。</p>
                        <footer>
                            <ul class="buttons vertical">
                                <li style="list-style-type: none;font-size: 20px;display: inline-block;margin-right: 10px;margin-top:15px;padding: 3px 8px;border: 1px solid #ddd;"><a href="http://www.foreverblog.cn/" target="_blank" style="display:block;width:100%;">关于十年之约</a></li>
                            </ul>
                        </footer>
                </div>
                <div>
                     <a href="{% url 'hydrogen:hydrogen' %}" style="position:fixed;z-index:999;right:-5px;bottom: 250px;display: inline-block;width: 35px;border-radius: 5px;color:white;font-size:14px;line-height:17px;background: #2476CE;box-shadow: 0 0 5px #666;word-wrap: break-word;padding: 10px 6px;border: 2px solid white;">新版入口</a>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="fh5co-footer"style="margin-bottom: 50px;">    
    <div class="container">
        <div class="row row-padded">
            <div class="col-md-12 text-center">
                <p class="fh5co-social-icons">
                    <a href="https://github.com/fuweifu-vtoo" target="_blank" ><img src="{% static 'hydrogen/images/footer_ico-github.png' %}" widht="20px"  height="20px"></a>
                    <a href="https://www.zhihu.com/people/hao-ku-de-wo/activities" target="_blank"><img src="{% static 'hydrogen/images/footer_ico-zhihu.png' %}" widht="20px"  height="20px"></a>
                    <a href="https://music.163.com/#/user/home?id=131743529" target="_blank"><img src="{% static 'hydrogen/images/footer_ico-netease.png' %}" widht="20px"  height="20px"></a>
                    <a href="https://music.163.com/#/user/home?id=131743529" target="_blank"><img src="{% static 'hydrogen/images/footer_ico-jianshu.png' %}" widht="20px"  height="20px"></a>
                    <a href="{% static 'hydrogen/images/my_wechat_QR_code.jpeg' %}" title=" < FWF19961004 > is my wechat ID " class="image-popup fh5co-board-img" ><img src="{% static 'hydrogen/images/footer_ico-wechat.png' %}" widht="20px"  height="20px" filter=alpha(opacity:30) opacity=0.1></a>
                </p>
                <p><small>Copyright &copy; 2018 fuweifu-vtoo All Rights Reserved. <br>蜀ICP备18031644号<br>
                    <a href="{% url 'hydrogen:hydrogen' %}">本站</a>作品版权为<a href="{% url 'hydrogen:about' %}">本人</a>所有，转载需取得<a href="{% url 'hydrogen:about' %}" target="_blank">本人</a>同意并在明显位置处注明出处<br>
                    <span>网站已运行了</span>
                    <span id='birth'></span>
                    <span>天</span>
                    <span id='hour'></span>
                    <span>小时</span>
                    <span id='minute'></span>
                    <span>分</span>
                    <span id='second'></span>
                    <span>秒</span>
                    <span>  </span>
                    <span>托管于腾讯云</span>
                    <span>  </span>
                    <span>使用 七牛云 镜像存储</span>
                    </small></p>
                <script>
                    function mytime(){
                    var date = new Date();
                    var y = date.getFullYear();
                    var m = date.getMonth()+1;
                    var d = date.getDate();
                    var h = (date.getHours()+13)>23?date.getHours()-11:date.getHours()+13;
                    var min = (date.getMinutes()+37)>59?date.getMinutes()-23:date.getMinutes()+37;
                    var second = (date.getSeconds()+9)>59?date.getSeconds()-51:date.getSeconds()+9;
                    var pass1 = Date.parse('2018/7/25');  //开始的日期
                    var pass2 = Date.parse(y+'/'+m+'/'+d);  //当前日期
                    var time = (pass2-pass1)/(1000*60*60*24);  //过去的天数
                    document.getElementById("birth").innerHTML=(time);
                    document.getElementById("hour").innerHTML=(h);
                    document.getElementById("minute").innerHTML=(min);
                    document.getElementById("second").innerHTML=(second);
                    }
                    setInterval(function() {mytime()},1000);
                </script>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc" style="filter:alpha(opacity:30); opacity:0.7;z-index: 2;position: fixed;" >
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'hydrogen:hydrogen' %}">home</a></li>
            <li><a href="{% url 'blog:index' %}">blog</a></li>
            <li><a href="{% url 'todolist:todolist' %}">TodoList</a></li>
            <li><a href="{% url 'hydrogen:about' %}">about</a></li>
            <li><a href="{% url 'hydrogen:contact' %}">contact</a></li>         
        </ul>
    </nav>
</div>


<!-- blog js -->
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
<script src="{% static 'blog/js/script.js' %}"></script>

<!--下面是music的三个js文件-->
<script type="text/javascript" src="{% static 'blog/js/TweenMax.min.js' %}"></script>
<!--<script src="{% static 'blog/js/jquery.min.js' %}"></script>-->
<script src="{% static 'blog/js/music.js' %}"></script>

<!--下面是花瓣飞舞的部分js代码-->
<script src="{% static 'blog/js/bundle.js' %}"></script>
<script>
    var demo;
    var FallingPetals = wy.effect.FallingPetals;
    $(document).ready(function() {
        $("body").nodoubletapzoom();

        demo = new FallingPetals($('#huaban'), {
            images: ["{% static 'blog/img/petal-1.png' %}", "{% static 'blog/img/petal-2.png' %}", "{% static 'blog/img/petal-2.png' %}", "{% static 'blog/img/petal-2.png' %}","{% static 'blog/img/petal-2.png' %}"],
            count: 10,               // 花瓣数量
            rotation: true,         // 花瓣可以旋转
            direction: -1,          // 1：从左向右飘；-1：从右向左飘
            speedRange: [1, 15],     // 调节横向速度范围 （值越大越快）
            fallingConstance: 8,    // 调节纵向掉落速度 （值越大越快）
        });
        demo.start();
    });
</script>

<div>       <!--在body标签之前加上div，来确定花瓣飞舞的位置，不能直接加在body上-->
</body>
</html>
